# Ignore only visualization figures in Outputs, keep CSV datasets
Outputs/*
!Outputs/*.csv
Outputs/dataset_daily_with_predictions.csv

# Do not ignore model files as they are needed for the dashboard
!Models/
!Models/*

.DS_Store
venv/
output_xai.png